@media screen and (max-width: 1500px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers{
        flex-wrap: wrap;
    }

    #projects, #experiencia{
        margin-top: 5rem;
    }

}
/*--------------------------------------------------------------------------*/
@media screen and (max-width: 1363px) {

    #projects{
        height: 300vh;
    }
    #projects, #experiencia{
        margin-top: 1rem;
    }
}

/*------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
    #desktop-nav{
       display: none; 
    }
    #hamburger-nav{
        display: flex ;
    }

    #projects, #experiencia, #sobre{
        margin-top: 1rem;
    }

    #profile {
        display: block;
        height: auto; 
        margin-bottom: 2rem;
    }
    .pic-container{
        width: 274px;
        margin: 0 auto -0.4rem;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
      }

      #sobre, .section-container {
         display: block; 
        }

    section, .section-container {
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
  
    .about-containers{
        margin-top: 0;
    }

    .about-pic {
        border-radius: 2rem;
        height: 330px;
        margin-top: 20px;
    }
    #projects {
        height: 80vh;
    }
    
    #experiencia .experiencia-detalhes-cont{
        margin-top: 2rem;
    }
    #profile .section-container{
        display: block;
    }
   
   
    #contato{
        margin-top: 35rem;
    }
}
/*----------------------------------------------------------------------*/
@media screen and (max-width: 1159px) {
    #projects{
        height: 255vh;
    }
}

/*--------------------------------------------------------------------------------------*/
@media screen and (max-width: 955px) {
    #projects {
        height: 189vh;
    }
}

@media screen and (max-width: 890px) {
    #projects {
        height: 160vh;
    }
}
/*----------------------------------------------------------------------*/
@media screen and (max-width: 650px) {
    #contato{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    #projects {
        height: 145vh;
    }

    .about-containers, .contato-inf-upper-container, .btn-container{
        flex-wrap: wrap;
    }


    .contato-inf-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experiencia-sub-titulo{
        font-size: 1.25rem;
    }

    #sobre{
        margin-top: 2.5rem;
    }

    .logo{
        font-size: 1.5rem;
    }

        .pic-container {
        width: auto;
        height: 65vw;
        margin: 1rem;
        justify-content: center;
    }

    .section__texto_p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: justify;
    }
    #contato{
        margin-top: 47rem;
    }

}
/*----------------------------------------------------------------------*/
@media screen and (max-width: 505px) {
    #profile{
        height: auto;
    }

    #contato {
        margin-top: 47rem;
        margin-bottom: 40px;
    }
    .pic-container {
       margin: 2.5rem;
    }
    #sobre{
        margin-top: 3rem;
    }
}
@media screen and (max-width: 480px){
    #projects {
        height: 85vh;
    }
}
/*----------------------------------------------------------------------*/
@media screen and (max-width: 360px) {
    .pic-container {
        margin: 3.5rem;
        align-items: center;
    }
    #projects {
        height: 350vh;
    }
    footer{
        margin-right: 1rem;
    }

}